<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'Navbar.html' %}
    <section class="Library">
        <h1> List of Books </h1>
        <article>
            {% for Book in Books %}
                <div>
                    <div>
                        <img src="{{Book.Cover.url}}">
                    </div>
                    <div>
                        <h3>
                            Name: <Span> {{Book.Title}} </Span>
                        </h3>
                        <h3>
                            Author: <Span> {{Book.Author}} </Span>
                        </h3>
                        <h3>
                            Category: <Span> {{ Book.Category }}</Span>
                        </h3>
                        <h3>
                            <Span> {% if Book.Available %} {% else %} Not {% endif %} </Span> Available
                        </h3>
                        <h3 style="display: none;">
                            {{Book.Description}}
                        </h3>
                        <button>
                            <a href="{% url 'LogIn' %}">Borrow</a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>
    <script src="{% static 'js/Main.js' %}"></script>
</body>
</html>