<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'Navbar.html'%}
    <section>
        <h1> Login </h1>
        <h1> {{Error}} </h1>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="Username">Username</label>
                <input type="text" id="Username" name="Username" required>
            </div>
            <div>
                <label for="Password">Password</label>
                <input type="password" id="Password" name="Password" required>
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
            <div>
                <a href="{% url 'SignUp' %}">I'm Havenot Account ?</a>
            </div>
        </form>
    </section>
    <script src="{% static 'js/Main.js' %}"></script>
</body>
</html>
