<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</Title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
</head>
<body>
    {% include 'Navbar.html'%}
    <header>
        <h1>
            Welcome to Our Library
        </h1>
    </header>
    <section class="Library">
        <h1> Most Borrowed Books </h1>
        <article>
            {% for Book in Books %}
                {% if forloop.counter < 4 %}
                    <div>
                        <div>
                            <img src="{{Book.Cover.url}}">
                        </div>
                        <div>
                            <h3>
                                Name: <Span> {{Book.Title}} </Span>
                            </h3>
                            <h3>
                                Author: <Span> {{Book.Author}} </Span>
                            </h3>
                            <h3>
                                Category: <Span> {{ Book.Category }}</Span>
                            </h3>
                            <h3>
                                <Span> {% if Book.Available %} {% else %} Not {% endif %} </Span> Available
                            </h3>
                            <h3 style="display: none;">
                                {{Book.Description}}
                            </h3>
                            <button>
                                <a href="{% url 'LogIn' %}">Borrow</a>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </article>
    </section>
    <section class="MainHome">
        <article>
            <h1> Services </h1>
            <div>
                <div>
                    <i class="fa-solid fa-4x fa-moon"></i>
                    <span> Every Time</span>
                </div>
                <div>
                    <i class="fa-solid fa-4x fa-location-dot"></i>
                    <span> Every Where </span>
                </div>
                <div>
                    <i class="fa-solid fa-4x fa-truck"></i>
                    <span> Fast Delivery </span>
                </div>
                <div>
                    <i class="fa-solid fa-4x fa-clock"></i>
                    <span> Save Your Time </span>
                </div>
            </div>
        </article>
        <article>
            <div>
                <div>
                    <i class="fa-solid fa-4x fa-users"></i>
                    <p> {{ClientsNumber}} </p>
                    <span> Clients </span>
                </div>
                <div>
                    <i class="fa-solid fa-4x fa-book"></i>
                    <p> {{BooksNumber}} </p>
                    <span> Books </span>
                </div>
                <div>
                    <i class="fa-solid fa-4x fa-address-book"></i>
                    <p> {{BorrowingsNumber}} </p>
                    <span> Borrowings </span>
                </div>
                <div>
                    <i class="fa-solid fa-4x fa-handshake"></i>
                    <p> 10 </p>
                    <span> Years of Exp. </span>
                </div>
            </div>
        </article>
    </section>
    <section>
        <h1> Contact Us </h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="Name">Your Name: </label>
                <input type="text" id="Name" name="Name" required>
            </div>
            <div>
                <label for="Email">Your Email: </label>
                <input type="email" id="Email" name="Email" required>
            </div>
            <div>
                <label for="Message"> Your Message: </label>
                <textarea id="Message" name="Message" maxlength="50" required> </textarea>
            </div>
            <div>
                <input type="submit" value="Send">
                <input type="reset" value="Clear">
            </div>
        </form>
    </section>
    <script src="{% static 'js/all.js' %}"></script>
    <script>
        localStorage.clear()
    </script>
</body>
</html>
