<nav>
    <ul>
        <li>
            <a>
                {% load static %}
                <img src="{% static 'logo.jpeg' %}">
            </a>
        </li>
        <li>
            <a href="{% url 'MainHome' %}">
                XLIB
            </a>
        </li>
        <li>
            <a href="{% url 'LogIn' %}">
                Login
            </a>
        </li>
        <li>
            <a href="{% url 'SignUp' %}">
                Signup
            </a>
        </li>
    </ul>
</nav>