<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'Navbar.html'%}
    <section>
        <h1> Create New Account </h1>
        <h1> {{Error}} </h1>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="Username">Username</label>
                <input id="Username" type="text" name="Username" required>
            </div>
            <div>
                <label for="name">Name</label>
                <input id="Name" type="text" name="Name" required>
            </div>
            <div>
                <label for="Email">Email</label>
                <input id="Email" type="email" name="Email" required>
            </div>
            <div>
                <label for="Phone">Phone</label>
                <input id="Phone" type="text" name="Phone" required>
            </div>
            <div>
                <label for="Password">Password</label>
                <input id="Password" type="password" name="Password" required>
            </div>
            <div>
                <label for="Password">RePassword</label>
                <input id="RePassword" type="password" name="RePassword" required>
            </div>
            <div>
                <input type="submit" value="Create">
            </div>
            <div>
                <a href="{% url 'LogIn' %}">I'm Already Have Account ?</a>
            </div>
        </form>
    </section>
    <!-- <script src="{% static 'js/Main.js' %}"></script> -->
    <script>
        function validateMobile(number) {
            const Mobile = /^01[0-25][0-9]{8}$/;
            return Mobile.test(number);
        }

        function validateEmail(Mail) {
            const Email = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            return Email.test(Mail);
        }
        /*
            At least 8 characters long.
            Contains at least one uppercase letter.
            Contains at least one lowercase letter.
            Contains at least one digit.
            Contains at least one special character (e.g., !@#$%^&*()).
        */
        function validatePassword(Pass) {
            const Password = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            return Password.test(Pass);
        }
    
        document.forms[0].addEventListener("submit",(e)=>{
            let Phone = validateMobile(document.getElementById("Phone").value)
            let Email = validateEmail(document.getElementById("Email").value)
            let Password = validatePassword(document.getElementById("Password").value)
            let RePassword = document.getElementById("Password").value == document.getElementById("RePassword").value
            if(Phone && Email && Password && RePassword){
                console.log("Welcome")
            }else{
                e.preventDefault()
                console.log("Error")
                if(!Phone){
                    document.getElementById("Phone").style.borderTop = "2px solid red"
                    console.log("Error1")
                }
                if(!Email){
                    document.getElementById("Email").style.borderTop = "2px solid red"
                    console.log("Error2")
                }
                if(!Password){
                    document.getElementById("Password").style.borderTop = "2px solid red"
                    console.log("Error3")
                }
                if(!RePassword){
                    document.getElementById("RePassword").style.borderTop = "2px solid red"
                    console.log("Error4")
                }
            }
        })
    </script>
</body>
</html>
