:root{
    --Color1:rgb(212, 163, 115);
    --Color2:rgb(254, 250, 224);
    --Color3:rgb(204, 213, 174);
    --Color4:rgb(40, 54, 24);
    --Color5:rgb(96, 108, 56);
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
hr{
    height: 3px;
    background-color: var(--Color3);
    margin: 10px auto;
    width: 80%;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: xx-large;
    font-weight: 500;
    margin: 20px;
    background-color: var(--Color3);
    color: var(--Color1);
    transition: 1s;
    text-align: center;
    margin: 15px 10px;
}

button > a{
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

button:hover{
    background-color: var(--Color1);
    color: var(--Color3);
}
nav{
    width: 100%;
    background-color: var(--Color1);
    color: var(--Color2);
    padding: 5px 0 0 0 ;
}
nav > ul{
    list-style: none;
}

nav > ul > li > a{
    text-decoration: none;
    font-size: xx-large;
    color: var(--Color4);
    transition: 1s;
    font-weight: 600;
}
nav > ul > li > a:hover{
    color: var(--Color5);
}
nav > ul > li > a > img {
    border-radius:100%;
    height: 100px;
    width: 100px;
}
header {
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
header h1 {
    padding: 0;
    font-size: 60px;
    font-weight: 800;
}
section {
    padding: 2%;
    width: 95%;
}
section > h1 , section >article > h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: var(--Color3);
    text-transform: uppercase;

}

section > form > div {
    padding: 20px;
    text-align: center;
    align-items: center;
}

section > form > div > label, textarea , select{
    display: block;
    padding: 10px;
    font-size: x-large;
    color: var(--Color3);
    font-weight: 700;
}

section > form > div > input{
    border: none;
    font-size: larger;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid;
    margin: 10px;
}

section > form > div > input[type='submit'],input[type='reset']{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: xx-large;
    font-weight: 500;
    margin: 20px;
    background-color: var(--Color3);
    color: var(--Color1);
    transition: 1s;
    text-align: center;
    margin: 15px;
} 

section > form > div > input[type='submit']:hover,input[type='reset']:hover{
    background-color: var(--Color1);
    color: var(--Color3);
}
.Books  > div{
    width: 92%;
    padding: 2%;
    margin: 2%;
    display: grid;
    align-items: center;
}

.Books  > div > div {
    padding: 10px;
}

.Books  > div > div > img{
    width: 100%;
    height: 100%;
}

.Books  > div > div > h3{
    font-size: xx-large;
    font-weight: 600;
    color: var(--Color1);
}

.Books  > div > div > h3 > span{
    font-size: inherit;
    font-weight: inherit;
    color: var(--Color3);
}

section[class='History'] > div{
    width: 92%;
    display: grid;
    padding: 2%;
    margin: 2%;
    text-align: center;
    background-color: var(--Color2);
}

section[class='History'] > div > h3{
    font-size: x-large;
    font-weight: 600;
    color: var(--Color1);
}

section[class='History'] > div > h3 > span{
    font-size: inherit;
    font-weight: inherit;
    color: var(--Color3);
}

section[class='Book'] > div{
    width: 92%;
    padding: 2%;
    margin: 2%;
    text-align: center;
    background-color: var(--Color2);
}

section[class='Book'] > div > img{
    width: 80%;
    padding: 5%;
    margin: 5%;
}

section[class='Book'] > div > h3{
    font-size: xx-large;
    font-weight: 600;
    color: var(--Color1);
}

section[class='Book'] > div > h3 > span {
    font-size: inherit;
    font-weight: inherit;
    color: var(--Color3);
}

section[class='Library'] > article{
    display: grid;
    width: 92%;
    padding: 2%;
    margin: 2%;
    gap: 20px;
}
section[class='Library'] > article > div{
    background-color: var(--Color2);
    padding: 10px;
    border-radius: 10px;
}

section[class='Library'] > article > div > div > img {
    width: 100%;
}

section[class='Library'] > article > div > div > h3{
    font-size: x-large;
    font-weight: 600;
    color: var(--Color1);
}

section[class='Library'] > article > div > div > h3 > span{
    font-size: inherit;
    font-weight: inherit;
    color: var(--Color3);
}

section[class='MainHome'] article  > div{
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin: 150px auto;
}
section[class='MainHome'] article  > div > div {
    text-align: center;
    padding: 10px;
}
section[class='MainHome'] article  > div > div > svg {
    display: block;
    padding: 15px 10px;
    margin-left: calc(50% - 40px);
    color: var(--Color4);
    transition: 1s;
}
section[class='MainHome'] article  > div > div > svg:hover {
    color: var(--Color1);
}
section[class='MainHome'] article  > div > div > span{
    color: var(--Color4);
    line-height: 1.5;
    font-size: larger;
}
section[class='MainHome'] article  > div > div > p{
    color: var(--Color3);
    line-height: 1.5;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}
footer{
    float: right;
    width: 75%;
}
@media (min-width:1800px) and (max-width: 5599px){
    nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;
    }
    header {
        width: 100%;
        height: 90vh;
        text-align: center;
        vertical-align: middle;
    }
    section[class='MainHome'] article  > div{
        grid-template-columns: repeat(4 , 25%);
    }
    section > form{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .Books  > div{
        grid-template-columns: 50% 50%;
    }
    section[class='History'] > div{
        grid-template-columns: repeat(7,1fr);
    }
    section[class='Library'] > article{
        grid-template-columns: repeat(4 , 1fr);
    }
}
@media (min-width: 1290px) and (max-width: 1799px){
    nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;
    }
    header {
        width: 100%;
        height: 90vh;
        text-align: center;
        vertical-align: middle;
    }
    section[class='MainHome'] article  > div{
        grid-template-columns: repeat(4 , 25%);
    }
    section > form{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .Books > div{
        grid-template-columns: 50% 50%;
    }
    section[class='History'] > div{
        grid-template-columns: 25% 25% 25% 25%;
    }
    section[class='Library'] > article{
        grid-template-columns: repeat(3 , 1fr);
    }
}
@media (min-width: 740px) and (max-width: 1289px){
    nav{
        height: 100vh;
        width: 25%;
        float: left;
        position: fixed;
    }
    nav ul{
        margin: 0;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(9,1fr);
        justify-content: space-around;
        align-items: center;
        padding-left: 15px;
    } 
    header {
        height: 100vh;
        width: 75%;
        float: right;
    }
    section{
        width: 71%;
        float: right;
    }
    section[class='MainHome'] article  > div{
        grid-template-columns: repeat(3 , 33.333%);
    }
    section > form{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .Books  > div{
        grid-template-columns: 100%;
    }
    section[class='History'] > div{
        grid-template-columns: 33.33% 33.33% 33.333%;
    }
    section[class='Library'] > article{
        grid-template-columns: 50% 50%;
    }
}
@media (max-width: 739px) and (min-width:570px){
    nav{
        display: none; 
    }
    header {
        width: 100%;
        height: 100vh;
        text-align: center;
        vertical-align: middle;
    }
    section[class='MainHome'] article  > div{
        grid-template-columns: repeat(2 , 50%);
    }
    section > form{
        display: grid;
        grid-template-columns: 100%;
    }
    .Books  > div{
        grid-template-columns: 100%;
    }
    section[class='History'] > div{
        grid-template-columns: 50% 50%;
    }
    section[class='Library'] > article{
        grid-template-columns: 100%;
    }
}
@media (max-width:569px) {
    nav{
        display: none; 
    }
    header {
        width: 100%;
        height: 100vh;
        text-align: center;
        vertical-align: middle;
    }
    section[class='MainHome'] article > div{
        grid-template-columns: repeat(1 , 100%);
    }
    section > form{
        display: grid;
        grid-template-columns: 100%;
    }
    .Books  > div{
        grid-template-columns: 100%;
    }
    section[class='History'] > div{
        grid-template-columns: 100% ;
    }
    section[class='Library'] > article{
        grid-template-columns: 100%;
    }
}