/* Reset styles */
body, h1, p, div, label, input, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("https://images.pexels.com/photos/768125/pexels-photo-768125.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    position: relative;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(37, 18, 1, 0.1);
    padding: 20px;
    text-align: center;
}

.links {
    position: absolute;
    top: 10px;
    right: 10px;
}

.links a {
    display: inline-block;
    margin-left: 10px;
}

.login-container {
    display: inline-flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 5px 10px; /* Same padding as the Login link */
    background-color: #9c6c2e; /* Brown color */
    border-radius: 5px;
}
.login-container {
    display: inline-block;
    align-items: center;
    padding: 2px 4px; 
    background-color: #9c6c2e;
    border-radius: 5px;
}

.login-container a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

.login-container a:hover {
    background-color: #7d531f; 
}

.welcome {
    margin-top: 50px;
}
h1 {
    color: rgb(29, 16, 5);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d4bb9b;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(156, 108, 46);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    display: block;
    text-decoration: none;
    color: rgb(156, 108, 46);
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
    color: rgb(156, 108, 46);
}
