body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1549675584-91f19337af3d?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}

#category {
    background-color: black;
}
/*  
#category{
    color: black;
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

form {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
}

input[type="text"],
textarea,
select {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

button[type="submit"] {
    width: calc(100% - 22px);
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(165, 60, 83);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
}

button[type="submit"]:hover {
    background-color: rgb(136, 88, 30);
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 20px;
}

ul li {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.user-home-btn {
    display: block;
    width: 100px; /* Adjusted width */
    margin: 20px auto; /* Centered within the form */
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(165, 60, 83);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-home-btn:hover {
    background-color: rgb(136, 88, 30);
}
