<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'client/Navbar.html'%}
    <section class="History">
        <h1> History </h1>
        {% for Order in data %}
            <div>
                <h3>
                    Name: <span> {{Order.Title}} </span>
                </h3>
                <h3>
                    Category: <span> {{Order.Category}} </span>
                </h3>
                <h3>
                    <span> {% if Order.Available %} {% else %} Not {% endif %}</span> Available
                </h3>
                <h3>
                    Borrow Date: <span> {{Order.BorrowDate}} </span>
                </h3>
                <h3>
                    Return Date: <span> {{Order.ReturnDate}} </span>
                </h3>
            </div>
        {% endfor %}
    </section>
    <script src="{% static 'js/Main.js' %}"></script>
</body>
</html>