<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'client/Navbar.html'%}
    <section>
        <h1> Welcome <span id="Username">{{Username}}</span> </h1>
        <span id="Email" style="display: none;">{{Email}}</span>
        <span id="Name" style="display: none;">{{Name}}</span>
        <span id="Phone" style="display: none;">{{Phone}}</span>
    </section>
    <!-- <script src="{% static 'js/Main.js' %}"></script> -->
    <script>
        let UN = localStorage.getItem("Username")
        let EM = localStorage.getItem("Email")
        let NA = localStorage.getItem("Name")
        let PH = localStorage.getItem("Phone")
        if(UN && EM && NA && PH){
            document.getElementById("Username").innerHTML = UN
            document.getElementById("Email").innerHTML = EM
            document.getElementById("Name").innerHTML = NA
            document.getElementById("Phone").innerHTML = PH
        }else{
            localStorage.setItem("Username",document.getElementById("Username").innerHTML)
            localStorage.setItem("Email",document.getElementById("Email").innerHTML)
            localStorage.setItem("Name",document.getElementById("Name").innerHTML)
            localStorage.setItem("Phone",document.getElementById("Phone").innerHTML)
        }
    </script>
</body>
</html>