<nav>
    <ul>
        <li>
            <a>
                <img>
            </a>
        </li>
        <li>
            <a href="{% url 'Home' %}">
                <span> Home </span>
            </a>
        </li>
        <li>
            <a href="{% url 'Borrow' %}">
                Borrow Book
            </a>
        </li>
        <li>
            <a href="{% url 'History' %}">
                <span> Borrow Hitsory </span>
            </a>
        </li>
        <li>
            <a href="{% url 'Portifloio' %}">
                <span> Portifloio </span>
            </a>
        </li>
        <li>
            <a href="{% url 'Logout' %}">
                <span> Logout </span>
            </a>
        </li>
    </ul>
</nav>