<nav>
    <ul>
        <li>
            <a>
                {% load static %}
                <img src="{% static 'logo.jpeg' %}">
            </a>
        </li>
        <li>
            <a href="{% url 'Home' %}">
                Home
            </a>
        </li>
        <li>
            <a href="{% url 'Borrow' %}">
                Borrow Book
            </a>
        </li>
        <li>
            <a href="{% url 'History' %}">
                Borrow Hitsory
            </a>
        </li>
        <li>
            <a href="{% url 'Library' %}">
                Library
            </a>
        </li>
        <li>
            <a href="{% url 'Portifloio' %}">
                Portifloio
            </a>
        </li>
        <li>
            <a href="{% url 'Logout' %}">
                Logout
            </a>
        </li>
    </ul>
</nav>