body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.9;
}

.container {
    width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px; 
}

h1 {
    color: rgb(29, 16, 5);
    margin-bottom: 20px;
}

.links {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}

.links a {
    display: block;
    text-decoration: none;
    color: rgb(78, 46, 4); 
}

.links a:hover {
    text-decoration: underline;
}

.logout-button {
    background-color: rgba(85, 35, 35, 0.836);
    color: #fff; 
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

