<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
<body>
    {% include 'admin/Navbar.html'%}
    <section>
        <h1>Add Book</h1>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="title">Book Title:</label>
                <input type="text" id="title" name="Title" placeholder="Enter the book name">
            </div>
        
            <div>
                <label for="author">Author Name:</label>
                <input type="text" id="author" name="Author" placeholder="Enter author name">
            </div>
        
            <div>
                <label for="category">Book Category:</label>
                <select id="category" name="Category">
                    <option value="fiction">Fiction</option>
                    <option value="classic">Classic</option>
                    <option value="mysteryandcrime">Mystery and Crime</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="romance">Romance</option>
                    <option value="history">History</option>
                </select>
            </div>
        
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="Description" placeholder="Enter book description"></textarea>
            </div>
        
            <div>
                <label for="available">Available:</label>
                <input type="checkbox" id="available" name="Available" checked>
            </div>
        
            <div>
                <label for="image-url">Uplaod Cover:</label>
                <input type="file" id="image-url" name="Cover">
            </div>
        
            <div>
                <input type="submit" value="Save">
                <input type="reset" value="Reset">
            </div>

        </form>
    </section>
    <script src="{% static 'js/Main.js' %}"></script>
</body>
</html>