<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'admin/Navbar.html'%}
    <section class="History">
        <h1> Borrowing History </h1>
        {% for item in data %}
            <div>
                <h3>
                    Borrower: <Span> {{item.ClientName}} </Span>
                </h3>
                <h3>
                    Name: <Span> {{item.BookName}} </Span>
                </h3>
                <h3>
                    Category: <Span> {{item.BookCategory}} </Span>
                </h3>
                <h3>
                    <Span>{% if item.BookAvailable %} {% else%} Not {% endif %}</Span> Available
                </h3>
                <h3>
                    Borrowing Id: <Span> {{item.BorrowId}} </Span>
                </h3>
                <h3>
                    Borrow Date: <Span> {{item.BorrowDate}} </Span>
                </h3>
                <h3>
                    Return Date: <Span> {{item.ReturnDate}} </Span>
                </h3>
            </div>
        {% endfor %}
    </section>
    <script src="{% static 'js/Main.js' %}"></script>
</body>
</html>