<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'admin/Navbar.html'%}
    <section>
        <h1> Welcome MR. <span id="Username">{{Username}}</span></h1>
    </section>
    <!-- <script src="{% static 'js/Main.js' %}"></script> -->
    <script>
        
        if(localStorage.getItem("Username")){
            document.getElementById("Username").innerHTML = localStorage.getItem("Username")
        }
        else{
            localStorage.clear()
            localStorage.setItem("Username",document.getElementById("Username").innerHTML)
        }
    </script>
</body>
</html>