<nav>
    <ul>
        <li>
            <a>
                <img>
            </a>
        </li>
        <li>
            <a href="{% url 'AHome'%}">
                <span> Home </span>
            </a>
        </li>
        <li>
            <a href="{% url 'AddBook'%}">
                <span> Add </span>
            </a>
        </li>
        <li>
            <a href="{% url 'ModifyBook'%}">
                <span> Modify </span>
            </a>
        </li>
        <li>
            <a href="{% url 'RemoveBook'%}">
                <span> Remove </span>
            </a>
        </li>
        <li>
            <a href="{% url 'ShowBooks'%}">
                <span> Show All </span>
            </a>
        </li>
        <li>
            <a href="{% url 'AHistory'%}">
                <span> History </span>
            </a>
        </li>
        <li>
            <a href="{% url 'APortifolio'%}">
                <span> Portiflio </span>
            </a>
        </li>
        <li>
            <a href="{% url 'ALogout' %}">
                <span> Logout </span>
            </a>
        </li>
    </ul>
</nav>