<nav>
    <ul>
        <li>
            <a>
                {% load static %}
                <img src="{% static 'logo.jpeg' %}">
            </a>
        </li>
        <li>
            <a href="{% url 'AHome'%}">
                Home
            </a>
        </li>
        <li>
            <a href="{% url 'AddBook'%}">
                Add
            </a>
        </li>
        <li>
            <a href="{% url 'ModifyBook'%}">
                Modify
            </a>
        </li>
        <li>
            <a href="{% url 'RemoveBook'%}">
                Remove
            </a>
        </li>
        <li>
            <a href="{% url 'ShowBooks'%}">
                Show All
            </a>
        </li>
        <li>
            <a href="{% url 'AHistory'%}">
                History
            </a>
        </li>
        <li>
            <a href="{% url 'APortifolio'%}">
                Portiflio
            </a>
        </li>
        <li>
            <a href="{% url 'ALogout' %}">
                Logout
            </a>
        </li>
    </ul>
</nav>