<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'admin/Navbar.html'%}
    <section>
        <h1> Portfolio Data</h1>
        {% if Error %}
            <h1> {{Error}} </h1>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="Name">Username:</label>
                <input type="text" id="Username" name="Username" readonly>
            </div>
            <div>
                <label for="OldPassword">Old Password</label>
                <input type="password" id="OldPassword" name="OldPassword">
            </div>
            <div>
                <label for="NewPassword">New Password</label>
                <input type="password" id="NewPassword" name="NewPassword">
            </div>
            <div>
                <label for="ReNewPassword">ReNew Password</label>
                <input type="password" id="ReNewPassword">
            </div>
            <div>
                <input type="submit" value="Upadte">
                <input type="reset" value="Reset">
            </div>
        </form>
    </section>
    <!-- <script src="{% static 'js/Main.js' %}"></script> -->
    <script>
        document.getElementById("Username").value = localStorage.getItem("Username")
        /*
            At least 8 characters long.
            Contains at least one uppercase letter.
            Contains at least one lowercase letter.
            Contains at least one digit.
            Contains at least one special character (e.g., !@#$%^&*()).
        */
        function validatePassword(Pass) {
            const Password = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            return Password.test(Pass);
        }
        document.forms[0].addEventListener("submit",(e)=>{
            e.preventDefault()
            let Password = validatePassword(document.getElementById("NewPassword").value)
            let RePassword = document.getElementById("NewPassword").value === document.getElementById("ReNewPassword").value
            if(Password && RePassword){
                console.log("Welcome")
            }else{
                e.preventDefault()
                if(!Password){
                    document.getElementById("NewPassword").style.borderTop = "2px solid red"
                }
                if(!RePassword){
                    document.getElementById("ReNewPassword").style.borderTop = "2px solid red"
                }
            }
        })
    </script>
</body>
</html>