<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'admin/Navbar.html'%}    
    <section>
        <h1>Remove Book</h1>
        <h1> {{Deleted}} </h1>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="UnqieId">Id Title:</label>
                <input type="text" name="Id" id="UnqieId" placeholder="Enter the book Id">
            </div>
            <div>
                <input id="SUB" type="submit" value="Remove">
                <input type="reset" value="Reset">
            </div>
        </form>
    </section>
    <!-- <script src="{% static 'js/Main.js' %}"></script> -->
     <script>
        document.getElementById("SUB").addEventListener("click",(e)=>{
            Confirm = confirm("Are You Sure from this action")
            if(!Confirm){
                document.forms[0].addEventListener("sumit",(e)=>{e.preventDefault()})
                document.getElementById("UnqieId").value = ""
            }
        })
     </script>
</body>
</html>