<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'admin/Navbar.html'%}
    <section class="Book">
        <h1> Book Data </h1>
        <div>
            {% load static %}
            <img src="{% static 'book.jpeg' %}">
            <h3>
                Name: <Span> Book Name </Span>
            </h3>
            <h3>
                Author: <Span> Author Name </Span>
            </h3>
            <h3>
                Category: <Span> Category Name </Span>
            </h3>
            <h3>
                <Span> </Span> Available
            </h3>
            <h3>
                Description: <Span> Description </Span>
            </h3>
        </div>
    </section>
    <script src="{% static 'js/Main.js' %}"></script>
</body>
</html>