<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
</head>
<body>
    {% include 'admin/Navbar.html'%}
    <section class="Book">
        <h1> Book Data </h1>
        <div>
            {% load static %}
            <img id="Cover" src="">
            <h3>
                Name: <span id="Title"> Book Name </span>
            </h3>
            <h3>
                Author: <span id="Author"> Author Name </span>
            </h3>
            <h3>
                Category: <span id="Category"> Category Name </span>
            </h3>
            <h3>
                <span id="Available"> </span> Available
            </h3>
            <h3>
                Description: <span id="Description"> Description </span>
            </h3>
        </div>
    </section>
    <!-- <script src="{% static 'js/Main.js' %}"></script> -->
    <script>
        window.addEventListener("load",()=>{
            document.getElementById("Cover").setAttribute("src",localStorage.getItem("Cover"))
            document.getElementById("Title").innerHTML = localStorage.getItem("Title")
            document.getElementById("Author").innerHTML = localStorage.getItem("Author")
            document.getElementById("Category").innerHTML = localStorage.getItem("Category")
            document.getElementById("Available").innerHTML = localStorage.getItem("Available")
            document.getElementById("Description").innerHTML = localStorage.getItem("Description")
        })

        window.addEventListener("cancel",()=>{
            localStorage.clear()
        })
    </script>
</body>
</html>